.slider_container {
	overflow-x: hidden;
}
.slider_content {
	position: relative;
	left: 0px;
	top: 0px;
	margin: 0px;
	overflow-x: hidden;
	transition: left 0.3s;
	-webkit-transition: left 0.3s;
	-moz-transition: left 0.3s;
}
.slider_content-right {
	left: 240px;
}
.slider_menu {
	position: absolute;
	left: -240px;
	top: 0px;
	width: 240px;
	height: 100%;
	overflow-x: hidden;
	background-color: #f5f5f5;
	transition: left 0.3s;
	-webkit-transition: left 0.3s;
	-moz-transition: left 0.3s;
}
.slider_menu-right {
	left: 0px;
}
.good {
	background-color: rgb(69, 191, 85);
}
.soso {
	background-color: rgb(255, 209, 15); 
}
.poor {
	background-color: rgb(255, 131, 126);
}
.total_thumbnail {
	width: 50px;
	float: left;
	margin: 5px;
	border: 1px solid #ccc;
	padding: 5px;
	text-align: center;
}
.slider {
    position: relative;
    height: 50px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}
.track {
    position: absolute;
    left: 10%;
    top: 17px;
    width: 80%;
    height: 14px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}
.leftsection {
    position: absolute;
    left: 0%;
    width: 0%;
    height: 12px;
    background-color: #428bca;
    -webkit-tap-highlight-color: transparent;
}
.rightsection {
    position: absolute;
    right: 0%;
    width: 100%;
    height: 12px;
    -webkit-tap-highlight-color:transparent;
}
.thumb {
    position: absolute;
    left: -5%;
    top: -8px;
    width: 10%;
    height: 28px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}
