<div class="panel panel-default">
	<div class="panel-heading">
		<table style="width: 100%">
			<tr>
				<td style="text-align: left; vertical-align: middle; width: 20%;">
					<button ng-click="navigate('/home')" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
				</td>
				<td style="text-align: center; vertical-align: middle; width: 60%;">
					<strong>PC Weight Loss</strong>
				<td style="text-align: right; vertical-align: middle; width: 20%;">
					&nbsp;
				</td>
			</tr>
		</table>
	</div>
	<div class="panel-body">
		<div class="text-center">
			<p>PC Weight Loss 2014-11-25v1</p>
			<p>Physicians' Choice Weight Loss&reg;<br>
				<a target="_blank" href="http://www.pcweightloss.com/">www.pcweightloss.com</a>	
			</p>
			<p>Larkin &amp; Tucker, LLC.<br>
				<a target="_blank" href="http://www.larkintuckerllc.com/">http://www.larkintuckerllc.com</a>	
			</p>
		</div>
	</div>
</div>
