<div class="panel panel-default">
	<div class="panel-heading">
		<table style="width: 100%">
			<tr>
				<td style="text-align: left; vertical-align: middle; width: 20%;">
					<button ng-click="navigate('/' + from)" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
				</td>
				<td style="text-align: center; vertical-align: middle; width: 60%;">
					<strong>PC Weight Loss</strong>
				<td style="text-align: right; vertical-align: middle; width: 20%;">
					&nbsp;
				</td>
			</tr>
		</table>
	</div>
	<ul class="list-group">
		<li ng-class="{'list-group-item': true, 'good': column.quality === 'good', 'soso': column.quality === 'soso', 'poor': column.quality === 'poor'}" ng-repeat="column in columns" ng-click="navigate('/columns/' + column.key + '/from/' + from);">
			<table style="width: 100%">
				<tr>
					<td style="text-align: left; vertical-align: middle; width: 80%;">
						<p class="list-group-item-text"><strong>{{column.description}}</strong></p>
					</td>
					<td style="text-align: right; vertical-align: middle; width: 20%;">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</td>
				</tr>
			</table>
		</li>
	</ul>
</div>
