<div class="panel panel-default">
	<div class="panel-heading">
		<table style="width: 100%">
			<tr>
				<td style="text-align: center; vertical-align: middle; width: 100%;">
					<strong>PC Weight Loss</strong>
				</td>
			</tr>
		</table>
	</div>
	<div class="panel-body">
		<div class="text-center">
			<p>A network error has occurred; check your network connectivity and try again.</p>
			<p><button ng-click="reloadApplication()" class="btn btn-default">Reload</button></p>
		</div>
	</div>
</div>


