<div class="panel panel-default">
	<div class="panel-heading">
		<table style="width: 100%">
			<tr>
				<td style="text-align: left; vertical-align: middle; width: 20%;">
					<button ng-click="navigate('/columns/' + columnKey)" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
				</td>
				<td style="text-align: center; vertical-align: middle; width: 60%;">
					<strong>PC Weight Loss</strong>
				<td style="text-align: right; vertical-align: middle; width: 20%;">
					&nbsp;
				</td>
			</tr>
		</table>
	</div>
	<div class="panel-body">
		<div class="panel panel-default">
			<ul class="list-group">
				<li ng-class="{'list-group-item': true, 'good': item.quality === 'good', 'soso': item.quality === 'soso', 'poor': item.quality === 'poor'}">
					<table style="width: 100%">
						<tr>
							<td style="text-align: left; vertical-align: middle; width: 80%;">
								<p class="list-group-item-text"><img ng-src="assets/img/{{item.kind}}.png">
								<img ng-src="assets/img/{{sliderValue * 25}}.png">
								<strong>{{item.description}}</strong></p>
							</td>
							<td style="text-align: right; vertical-align: middle; width: 20%;">
                                                                <span style="display: inline" class="badge">{{item.points * sliderValue * 0.25}}</span>
							</td>
						</tr>
					</table>
				</li>
			</ul>
		</div>
		<div ng-attr-slider ng-attr-positions="5" value="sliderValue"></div>
	</div>
	<div class="panel-footer">
		<table style="width: 100%">
			<tr>
				<td style="text-align: left; vertical-align: top; width: 20%";>
					<button ng-click="save();" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-save"></span> Save</button>
                                </td>
                                <td style="text-align: center; vertical-align: bottom; width: 60%;">
					&nbsp;
                                </td>
                                <td style="text-align: right; vertical-align: top; width: 20%";>
					&nbsp;
                                </td>
                        </tr>
                </table>
        </div>
</div>
