<div class="panel panel-default">
	<div class="panel-heading">
		<table style="width: 100%">
			<tr>
				<td style="text-align: left; vertical-align: middle; width: 20%;">
					<button ng-click="navigate('/' + from)" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
				</td>
				<td style="text-align: center; vertical-align: middle; width: 60%;">
					<strong>PC Weight Loss</strong>
				<td style="text-align: right; vertical-align: middle; width: 20%;">
					<button ng-if="active"  ng-click="navigate('/columns/from/logs/' + logKey + '/from/' + from);" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Create Choice</button>
					<span ng-if="! active">&nbsp;</span>
				</td>
			</tr>
		</table>
	</div>
	<div class="panel-body">
                <div  class="panel panel-default">
			<div class="panel-heading">
				{{log.time | date:'fullDate'}}
			</div>
			<ul class="list-group">
				<li ng-class="{'list-group-item': true, 'good': inRange(log[total.key],plans[plan][total.key].min,plans[plan][total.key].max)}" ng-repeat="total in totals">
					<table style="width: 100%">
						<tr>
							<td style="text-align: left; vertical-align: middle; width: 80%;">
								<p class="list-group-item-text"><img ng-src="assets/img/{{total.key}}.png"> 
									<strong>{{total.name}} ({{plans[plan][total.key].min}}
									<span ng-if="plans[plan][total.key].max">- {{plans[plan][total.key].max}})</span>
									<span ng-if="! plans[plan][total.key].max">+)</span>
									</strong>
								</p>
							</td>
							<td style="text-align: right; vertical-align: middle; width: 20%;">
								<span style="display: inline" class="badge">{{log[total.key]}}</span>
							</td>
						</tr>
					</table>
				</li>
			</ul>
		</div>
		<form ng-if="active" name="totals_form" role="form" novalidate>
			<div ng-class="{'form-group': true,  'has-feedback': true, 'has-error': totals_form.exercise.$invalid}">
				<label class="control-label" for="exercise">Exercise (30 - 40)</label>
				<input type="number" name="exercise" class="form-control" id="exercise" placeholder="Minutes" ng-model="log.exercise" posinteger>
			</div>
			<div ng-class="{'form-group': true,  'has-feedback': true, 'has-error': totals_form.steps.$invalid}">
				<label class="control-label" for="steps">Steps (5000 +)</label>
				<input type="number" name="steps" class="form-control" id="steps" placeholder="Steps" ng-model="log.steps" posinteger>
			</div>
			<div ng-class="{'form-group': true,  'has-feedback': true, 'has-error': totals_form.screen.$invalid}">
				<label class="control-label" for="screen">Screen Time</label>
				<input type="number" name="screen" class="form-control" id="screen" placeholder="Minutes" ng-model="log.screen" posinteger>
			</div>
		</form>
                <form ng-if="! active" name="read_totals_form" role="form" novalidate>
                        <div class="form-group">
                                <label class="control-label">Exercise (30 - 40)</label>
                                <p class="form-control-static">{{log.exercise}}</p>
                        </div>
                        <div class="form-group">
                                <label class="control-label">Steps (5000 +)</label>
                                <p class="form-control-static">{{log.steps}}</p>
			</div>
                        <div class="form-group">
                                <label class="control-label">Screen</label>
                                <p class="form-control-static">{{log.screen}}</p>
			</div>
		</form>
                <div class="panel panel-default">
			<div class="panel-heading">
				Choices
			</div>
			<ul class="list-group">
				<li ng-class="{'list-group-item': true, 'good': choice.value.quality === 'good', 'soso': choice.value.quality === 'soso', 'poor': choice.value.quality === 'poor'}" ng-repeat="choice in choices | orderBy:choiceComparator" ng-click="remove(choice.key);">
					<table style="width: 100%">
						<tr>
							<td style="text-align: left; vertical-align: middle; width: 80%;">
								<p class="list-group-item-text"><img ng-src="assets/img/{{choice.value.kind}}.png"> 
								<img ng-src="assets/img/{{choice.value.portion * 100}}.png"> 
								<strong>{{choice.value.description}}</strong></p>
							</td>
							<td style="text-align: right; vertical-align: middle; width: 20%;">
								<span style="display: inline" class="badge">{{choice.value.points}}</span>
								<span ng-if="active" class="glyphicon glyphicon-remove"></span>
							</td>
						</tr>
					</table>
				</li>
			</ul>
		</div>
	</div>
	<div ng-if="active" class="panel-footer">
		<table style="width: 100%">
			<tr>
				<td style="text-align: left; vertical-align: top; width: 20%";>
					<button ng-disabled="totals_form.$invalid" ng-click="save();" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-save"></span> Save</button>
                                </td>
                                <td style="text-align: center; vertical-align: bottom; width: 60%;">
					&nbsp;
                                </td>
                                <td style="text-align: right; vertical-align: top; width: 20%";>
					&nbsp;
                                </td>
                        </tr>
                </table>
        </div>
</div>


