<div class="panel panel-default">
	<div class="panel-heading">
		<table style="width: 100%">
			<tr>
				<td style="text-align: left; vertical-align: middle; width: 20%;">
					<button ng-click="navigate('/home')" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
				</td>
				<td style="text-align: center; vertical-align: middle; width: 60%;">
					<strong>PC Weight Loss</strong>
				<td style="text-align: right; vertical-align: middle; width: 20%;">
					&nbsp;
				</td>
			</tr>
		</table>
	</div>
	<div class="panel-body">
		<form name="user_form" role="form" novalidate>
			<div class="form-group">
				<label class="control-label">Email</label>
				<p class="form-control-static">{{email}}</p>
			</div>
			<div class="form-group" ng-class="{'form-group': true, 'has-feedback': true, 'has-error': user_form.plan.$invalid}"> 
				<label class="control-label" for="plan">Plan</label>
				<select name="plan" id="plan" class="form-control" ng-model="plan" required>  
					<option value="">Select...</option>
					<option value="success">Success</option>
					<option value="champion">Champion</option>
					<option value="achieve">Achieve</option>
				</select>
			</div>
		</form>
		<p><button ng-click="navigate('/user_password');" type="button" class="btn btn-default">Change Password</button></p> 
                <p ng-if="failed" style="text-align: center" class="text-danger">last save failed</p> 
	</div>
	<div class="panel-footer">
		<table style="width: 100%">
			<tr>
				<td style="text-align: left; vertical-align: top; width: 20%";>
					<button ng-disabled="user_form.$invalid" ng-click="save();" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-save"></span> Save</button>
                                </td>
                                <td style="text-align: center; vertical-align: bottom; width: 60%;">
					&nbsp;
                                </td>
                                <td style="text-align: right; vertical-align: top; width: 20%";>
					&nbsp;
                                </td>
                        </tr>
                </table>
        </div>
</div>
